-if @event["img"]
  %img.img-polaroid{:src=>"/img/#{@event["img"]}"}
%a{:href=>"#{@event["url"]}"}
  %h3
    = @event["name"]
%h4
  = @event["date"]
.event_desc
  = @event["desc"]
.role
  = @event["role"]