-if @project["img"]
  %img.img-polaroid{:src=>"/img/#{@project["img"]}"}
%h3
  = @project["name"]
- if @project["url"]
  %a{:href=>"#{@project["url"]}"}
    %icon{:class=>"icon-eye-open"}
- if @project["github"]
  %a{:href=>"#{@project["github"]}"}
    %icon{:class=>"icon-download-alt"}
- if @project["org"]
  %h4
    %a{:href=>"#{@project["org_url"]}"}
      = @project["org"]
.description
  = @project["desc"]
- if @project["press"]
  .press
    %h5 Press:
    %ul
    - @project["press"].each do |source, url|
      %li
        %a{:href=>"#{url}"}
          = source
.tags
  %h5 Tech:
  - @project["tags"].each do |tag|
    .btn
      = tag